* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  justify-content: center;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 0px;
width: 50%;
box-sizing: border-box;
background: beige;
}

header a {
  text-decoration: none;
}

header h1 {
  font-size: 2em;
  font-weight: bold;
}
.main_container {
  display: flex;
  width: 100%;
  height: 100vh;
    box-sizing: border-box;
}

.content {
  overflow-y: auto;
  display: none;
}
.main_nav {
  background-color: #f1f1f1;
  padding: 20px;
}

.main_nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main_nav li {
  margin: 10px 0;
}

.main_nav a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.main_nav a:hover {
  background-color: #eee;
}

.content_display.toggle {
          width: 150%;
}
.content_display {
          width: 50%;
    box-sizing: border-box;
    padding: 20px;
  transition: 0.5s;
}
.content.active {
  display: block;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #f7f7f7;
  background-color: #333;
  border-radius: 4px;
  padding: 4px 8px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.column {
  flex: 1;
  margin: 0 10px;
}

.sidebar {
  background-color: #f7f7f7;
  padding: 20px;
}

.sidebar h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar p {
  margin-bottom: 20px;
}

.main {
  background-color: #fff;
  padding: 20px;
}

.main h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.main p {
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px 0;
  background-color: #333;
  color: #f7f7f7;
  font-size: 0.8em;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    margin-top: 20px;
    justify-content: center;
  }

  nav li {
    margin: 0 10px;
  }
}
agrandir {

}
.expand_btn_clicked {
  background-image: url('cross.jpg')!important;
}
.expand_btn {
    width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url('next.png');
    background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}


